@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: local('Akzidenz-Grotesk BQ Bold Condensed'), local('Akzidenz-Grotesk-BQ-Bold-Condensed'),
        url('./fonts/akzidenzGroteskBQ/AkzidenzGroteskBQ-BdCnd.woff2') format('woff2'),
        url('./fonts/akzidenzGroteskBQ/AkzidenzGroteskBQ-BdCnd.woff') format('woff'),
        url('./fonts/akzidenzGroteskBQ/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),
        url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'),
        url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@import "bootstrap";

$themeDarckGrey : #585757;
$themeBackgroundBlack : #100f0f; 

body {

    font-family: 'Roboto-Bold', sans-serif;
    @extend .text-light;
    background-color: $themeBackgroundBlack;
}

.theme_background {
    @extend .text-light;
    background-color: $themeBackgroundBlack;
}

h1 {
    font-family: 'Akzidenz-Grotesk BQ', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    outline-color: #ffffff;
}

.theme_color {
    color: $themeBackgroundBlack;
}

.theme_grey {
    color: #adb5bd;
}

.theme_background_darckGrey
{
    background-color: $themeDarckGrey;
}

.click
{
    cursor: pointer;
}

.ajustImg
{
    height: 20px;
    width: 20px
}

.regular {
    font-family: 'Roboto-Regular', sans-serif;

}

.rotate120 {
    transform: rotate(120deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.borderBottom {
    border-bottom: solid #2c2828;
}

.background
{
    background: center repeat-x url('../images/banner.png');
}

.m_top
{
    margin-top: 80px;
}

input {
    background-color: $themeBackgroundBlack; 
    outline: none; 
    border-width:0px; 
    border:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield; // Firefox
}

.noneDropdownBorder {
    border:0px;
    outline:0px;
 }

 select {
     -webkit-appearance: none;
     -moz-appearance: none;
     text-indent: 1px;
     text-overflow: '';
 }

::placeholder {
    color: white;
    opacity: 1;
  }

.center{
    position:absolute;
    bottom:5%;
    left:20%;
    width:60%;

}

.center .btn{
    width:100%;
    padding:1%;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 5rem;
}

.btnFooter {
    position: absolute;
    z-index: 1;
    bottom: 10%;
}

.zIndex2 {
    position: relative;
    z-index: 2;
}

// add crypto

#inputContainer {
    position: relative;
    z-index: 10;
}

.items {        
    height: 0;
    overflow: auto; 
    transition: .4s height;
    margin: 0;
    padding: 0;
    scrollbar-color: $themeDarckGrey black; // Firefox
    position: relative;
    z-index: 10;
}

.items::-webkit-scrollbar-track { // Chrome, Edge, Safari
    background: black;
}
.items::-webkit-scrollbar-thumb {
    background-color: $themeDarckGrey;
}
.items::-webkit-scrollbar {
    width: 15px;
}

li {
    padding: 10px;
    list-style: none;
    border-top: 1px solid #ffffff;
    margin: 0 2%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.match {
    font-weight: 600;
    color: green;
}

// shake input in addCrypto

.animationInputshake {
    animation: Inputshake 0.4s 1 linear;
}
@keyframes Inputshake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}


// modal
.icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #ffffff;
}
.icon-box i {
    color: #ffffff;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

// flash
.alert
{
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 0;
    border: none;
    margin: 0;

    &.alert-success {
        background-color: green;
    }

    &.alert-error {
        background-color: red;
    }

    &.alert-info {
        background-color: $themeDarckGrey;
    } 
}