@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: local('Akzidenz-Grotesk BQ Bold Condensed'), local('Akzidenz-Grotesk-BQ-Bold-Condensed'),
        url('./fonts/akzidenzGroteskBQ/AkzidenzGroteskBQ-BdCnd.woff2') format('woff2'),
        url('./fonts/akzidenzGroteskBQ/AkzidenzGroteskBQ-BdCnd.woff') format('woff'),
        url('./fonts/akzidenzGroteskBQ/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),
        url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'),
        url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {

    font-family: 'Roboto-Bold', sans-serif;
    @extend .text-light;
    background-color: #100f0f;//100f0f
}

.theme_background {
    @extend .text-light;
    background-color: #100f0f;//100f0f
}

h1 {
    font-family: 'Akzidenz-Grotesk BQ', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

.theme_color {
    color: #100f0f;
}

.theme_grey {
    color: #adb5bd;
}

.theme_background_darckGrey
{
    background-color: #585757;
}

.click
{
    cursor: pointer;
}

.ajustImg
{
    height: 20px;
    width: 20px
}

.regular {
    font-family: 'Roboto-Regular', sans-serif;

}

.rotate120 {
    transform: rotate(120deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.borderBottom {
    border-bottom: solid #2c2828;
}

.background
{
    background: center repeat-x url('../images/banner.png');
}

.m_top
{
    margin-top: 80px;
}

input {
    background-color: #100f0f; 
    outline: none; 
    border-width:0px; 
    border:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield; // Firefox
}

.noneDropdownBorder {
    border:0px;
    outline:0px;
 }

 select {
     -webkit-appearance: none;
     -moz-appearance: none;
     text-indent: 1px;
     text-overflow: '';
 }

::placeholder {
    color: white;
    opacity: 1;
  }

.center{
position:absolute;
bottom:5%;
left:20%;
width:60%;

}

.center .btn{
    width:100%;
    padding:1%;
}

.page-container {
position: relative;
min-height: 100vh;
}

.content-wrap {
padding-bottom: 5rem;
}

.btnFooter {
position: absolute;
bottom: 10%;
}