{% extends 'base.html.twig' %}

{% block title 'Delete - Crypto Tracker' %}

{% block body %}

<h1 class="text-light">Supprimer un montant</h1>

<p>{{ contract.crypto.acronym }} ({{ contract.crypto.name }})</p>


<form method="post" action="{{ path('app_contract_delete', {'id': contract.id}) }}">
        <div class="form-group">
        <label>Delete
        <input type="number" class="form-control" name="quantityDelete" step="0.000001" required="required" min="0.000001" maxlenght="50"></label>
        </div>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('contract_deletion_' ~ contract.id) }}">
            <div class="mt-5 btn-group">
                <button class="btn btn-danger btn-lg">Valider</button>
            </div>
</form>

  


{% endblock %}
